.title-up {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}
ul {
  list-style-type: none;
}

.menu-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.studio-nav {
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  text-decoration: none;
}
.briefcase-nav {
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
  text-decoration: none;
}
.contacts-nav {
  width: 67px;
  height: 16px;
  left: 667px;
  top: 32px;
  text-decoration: none;
}
.email {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
  text-decoration: none;
  list-style-type: none;
}
.tele {
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
h1 {
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.bg {
  background: #2f303a;
}
.service {
  width: 197px;
  height: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #ffffff;

  background: #2196f3;
}
.details {
  width: 270px;
  height: 16px;
  left: 215px;
  top: 775px;
}
.text-details {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 801px;
}
.puntuality {
  width: 270px;
  height: 16px;
  left: 515px;
  top: 775px;
}
.text-puntuality {
  width: 270px;
  height: 96px;
  left: 515px;
  top: 801px;
}
.planning {
  width: 270px;
  height: 16px;
  left: 815px;
  top: 775px;
}
.text-planning {
  width: 270px;
  height: 75px;
  left: 815px;
  top: 801px;
}
.tech {
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 775px;
}
.text-tech {
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 801px;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  color: #212121;
}
.link-button:hover {
  color: red;
}

.link-button:focus {
  color: white;
  background: #2196f3;
}
.all {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 186px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.sites {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 186px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.applications {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 186px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.design {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 186px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.marketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 186px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.projects {
  width: 370px;
  height: 294px;
}

.bg-footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}
.bg-footer-studio {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;

  background: #2f303a;
}
.studio-foot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.ubication {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
}
.mail-foot {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.tel-foot {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
