:root {
  font-family: "roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.title-up {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}
ul {
  list-style-type: none;
}

.menu-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.studio-nav {
  text-decoration: none;
  color: #757575;
}

.briefcase-nav {
  text-decoration: none;
  color: #757575;
}
.contacts-nav {
  text-decoration: none;
  color: #757575;
}
.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
  list-style-type: none;
}
.tele {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.bg {
  background: #2f303a;
}
.service {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */

  color: #ffffff;

  background: #2196f3;
  border-style: none;
}
.service:hover {
  color: #757575;
}
.service :focus {
  color: white;
  background: #08518d;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #212121;
}
h3 {
  color: #212121;
}
.link-button:hover {
  color: #2196f3;
}

.link-button :focus {
  color: white;
  background: #2196f3;
}
img {
  cursor: pointer;
}
.all {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.filters:focus {
  background-color: #2196f3;
}
.sites {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.applications {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.design {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
.marketing {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}

.bg-footer {
  background: #2f303a;
}
.bg-footer-studio {
  background: #2f303a;
}
.studio-foot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.ubication {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
}
.mail-foot {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.tel-foot {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
